/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.container {
    position: relative;
    top: 80px;
    display: block;
    width: 700px;
    border-radius: 25px;
    margin-top: 50px;
    background-color: #d8e9e9;
}

.avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    border-radius: 50%;
}

.avatar img:hover {
    opacity: 0.5;
}

#change-avatar {
    color: black;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background-color: #d8e9e9;
}

.profile-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    width: 80%;
}

.form-group label {
    flex: 1;
    text-align: left;
    font-size: 14px;
    color: #444;
}


.form-group input {
    flex: 2;
    padding: 8px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
}

.gender-options {
    flex: 2;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}



.birthday-select {
    display: flex;
    flex: 2;
    gap: 10px;
    justify-content: space-between;
}

.birthday-select select {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
    border: none;
}

#save-profile {
    background-color: #f5a5a5;
    border: none;
    color: #000;
    padding: 10px 40px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

#save-profile:hover {
    background-color: #f58888;
}