.poupupLogin {
    margin: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    background: none;
}

.logreg-container {
    position: relative;
    width: 700px;
    border-radius: 25px;
    margin-top: 65px;
    background-color: #F8FAFC;
    overflow: hidden;
}

.tab-header {
    position: relative;
    margin-top: 0px;
    display: flex;
    width: 100%;
    height: 60px;
}

.tab {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    cursor: default;
    font-size: 16px;
}

.tab.active {
    background-color: #142650;
    color: #FFFFFF;
}

label {
    display: block;
    font-size: 16px;
    margin: 10px 0;
}

input[type=text],
input[type=password] {
    padding: 10px;
    width: 100%;
    height: 40px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.1);
    border: none;
    outline: none;
}

input[type=checkbox] {
    appearance: auto;
    margin: 5px;
    border: none;
    background-color: #E9EFF5;
    position: relative;
    top: 1px;
    outline: none;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.1);
}

input:focus {
    box-shadow: 0 0 5px #142650;
}

.input-eye {
    position: relative;
    width: 100%;
}

.eye {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 13px;
    right: 10px;
    cursor: pointer;
    opacity: 0.5;
}

form {
    padding: 15px 40px;
    top: 50px;
}

.red {
    color: red;
}

.hidden {
    display: none;
}

#forgotpsw {
    text-align: right;
    font-size: 14px;
    margin-bottom: 5px
}

#forgotpsw a {
    color: black;
}

.logreg-button {
    width: 100%;
    background-color: #F3EA28;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

#chooseLogin {
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

#chooseLogin a {
    color: black;
    font-weight: bold;
}